<template>
    <v-row align="center" justify="center">
        <v-col cols="12">
            <error-box title="Oh no! Browser not supported!" :text="false" />
        </v-col>
        <v-col v-if="browser || version" cols="12" class="text-center text-h4">
            You are using {{ browser }} {{ version }}
        </v-col>
        <v-col v-for="item in data" :key="item.browser" class="text-center" cols="12" md="6" lg="2">
            <v-row align="center" justify="center">
                <v-col class="text-center" cols="12">
                    <img :src="item.browserIcon" :alt="item.browser+'-image'"> <br>
                    {{ item.browser }} {{ item.version }}
                </v-col>
                <v-col class="text-center" cols="12">
                    <v-btn :href="item.link" target="_blank" block depressed class="primary-btn">
                        Download
                    </v-btn>
                </v-col>
                <v-col class="text-center" cols="12">
                    {{ item.support }}
                </v-col>
            </v-row>
        </v-col>
    </v-row>
</template>
<script src="./unsupportedBrowser.ts"></script>