* {
  font-family: "Roboto", sans-serif;
}

.login-title {
  font-size: 19px;
  padding-bottom: 20px;
  color: black;
  font-weight: 500;
}


.overtime-table {
  padding: 0 20px;
}

.v-data-table {
  .v-data-table__wrapper {
    table {
      thead {
        tr {
          th {
            color: rgb(0 0 0 / 77%) !important;
            font-size: 0.875rem;
          }
        }
      }
      tbody {
        tr {
          color: black !important;
        }
      }
    }
  }
}

#consumer-table, #user-table {
  .v-data-footer {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 15px;
  }
}

.v-card {
  box-shadow: 0px 20px 50px #00000014 !important;
  border-radius: 4px !important;
}


@mixin btn($background, $border) {
  background-color: $background !important;
  border: 1px solid $border !important;
}

.primary-btn {
  @include btn(var(--v-secondary-base), var(--v-primary-base));
  color: white !important;
}

.secondary-btn {
  @include btn(#EDF4FA, #1D4F9173);
  color: var(--v-secondary-base) !important;
}

.tertiary-btn {
  @include btn(#EDF4FA, #1D4F9173);
  color: white !important;
}

.error-btn {
  @include btn(#FFDCE2, #8C001A);
}

.activate-btn {
  @include btn(#CDF4D2, #CDF4D2);
  color: #007A3B !important;
}

.de-activate-btn {
  @include btn(#FFDCE2, #FFDCE2);
  color: #CD0026 !important;
}

.fill-height {
  height: 100%;
}

.fill-width {
  width: 100%;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s
}

.page-enter, .page-leave-active {
  opacity: 0
}

.layout-enter-active, .layout-leave-active {
  transition: opacity .5s
}

.layout-enter, .layout-leave-active {
  opacity: 0
}


.main-toast {
  font-family: "Roboto", sans-serif;
}


.user-card {
  color: black !important;
  position: relative;
  overflow: auto !important;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.user-card-title {
  font-size: 20px;
  padding-left: 20px;
}

.slim-card {
  max-height: 500px;
}

/* width */
.user-card::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.user-card::-webkit-scrollbar-track {
  background: #CCCCCC;
}

/* Handle */
.user-card::-webkit-scrollbar-thumb {
  background: #E63888;
}


.page-title {
  font-size: 20px;
  letter-spacing: 0px;
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 500;
}



.bo-table-search-field {
  padding: 20px 15px;
}

