<template>
    <v-dialog id="admin-detail-dialog" v-model="dialog" width="1000">
        <v-card :disabled="isLoading">
            <v-overlay absolute :value="isLoading">
                <v-progress-circular
                    indeterminate
                    size="124"
                />
            </v-overlay>
            <v-card-title>
                <v-row>
                    <v-col cols="12" md="6">User Details</v-col>
                    <v-col cols="12" md="6" class="text-right">
                        <v-btn id="close-admin-detail" fab icon small color="primary" @click="closeDialog">
                            <v-icon>
                                mdi-close
                            </v-icon>
                        </v-btn>
                    </v-col>
                </v-row>
            </v-card-title>
            <v-divider />

            <v-card-text class="admin-dialog-container">
                <v-form v-model="adminForm" ref="adminForm">
                    <v-row class="admin-row">
                      <v-col cols="12" md="6" class="pb-0">
                        <v-text-field
                            id="admin-detail-email"
                            v-model="user.username"
                            label="Email"
                            outlined
                            height="56"
                            class="mb-0"
                            :rules="[required, isEmail]"
                        />
                      </v-col>
                      <v-col cols="12" md="6" class="pb-0">
                        <v-text-field
                            id="admin-detail-email"
                            v-model="user.employeeNumber"
                            label="Employee Number"
                            outlined
                            height="56"
                            class="mb-0"
                            :rules="[required]"
                        />
                      </v-col>
                        <v-col cols="12" md="6">
                            <v-text-field
                                id="admin-detail-firstname"
                                v-model="user.name"
                                label="First Name"
                                outlined
                                height="56"
                                :rules="[required]"
                            />
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-text-field
                                id="admin-detail-surname"
                                v-model="user.surname"
                                label="Surname"
                                outlined
                                height="56"
                                :rules="[required]"
                            />
                        </v-col>
                    </v-row>
                    <v-row class="pt-0 mt-0">
                        <v-col cols="12" md="6">
                            <v-btn id="cancel-admin-detail" large class="secondary-btn" block depressed @click="closeDialog">
                                <span>Cancel</span>
                            </v-btn>
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-btn id="save-admin-detail" large class="primary-btn" block depressed @click="saveUser">
                                <span>Save</span>
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script src="./adminUserDialog.ts" lang="ts"></script>
<style src="./adminUserDialog.scss" scoped lang="scss"></style>