<template>
    <v-dialog id="redeem-overtime-detail-dialog" v-model="dialog" width="1000" persistent>
        <v-card :disabled="isLoading">
            <v-overlay absolute :value="isLoading">
                <v-progress-circular
                    indeterminate
                    size="124"
                />
            </v-overlay>
            <v-card-title>
                <v-row>
                    <v-col cols="12" md="6">Redeem Overtime</v-col>
                </v-row>
            </v-card-title>
            <v-divider />

            <v-card-text class="redeem-overtime-dialog-container">
                <v-form ref="redeemOvertimeForm">
                    <v-row>
                      <v-col cols="12" md="6">
                        <v-menu
                            v-model="overtimeDateStartMenu"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                                id="redeem-overtime-start-date"
                                v-model="overtimeDateStart"
                                label="Overtime Start Date"
                                prepend-icon="mdi-calendar"
                                readonly
                                v-bind="attrs"
                                v-on="on"
                            />
                          </template>
                          <v-date-picker
                              v-model="overtimeDateStart"
                              @input="overtimeDateStartMenu = false"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="12" md="6">
                        <v-text-field
                            :max="totalOvertimeLeft"
                            :min="0.5"
                            v-model="overtimeTaken"
                            label="Overtime Taken"
                            type="number"
                            :rules="[required]"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row class="pt-0 mt-0">
                        <v-col cols="12" md="6">
                            <v-btn id="cancel-redeem-overtime" large class="secondary-btn" block depressed @click="closeDialog">
                                <span>Cancel</span>
                            </v-btn>
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-btn id="save-redeem-overtime" large class="primary-btn" block depressed @click="redeemOvertime">
                                <span>Save</span>
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script src="./redeemOvertimeDialog.ts" lang="ts"></script>
<style src="./redeemOvertimeDialog.scss" scoped lang="scss"></style>