<template>
    <v-row align="end">
        <v-col cols="12" md="6" class="page-title">
            User Dashboard
        </v-col>
        <v-col cols="12" md="6" class="text-right align-center pb-5">
            <v-btn id="admin-add-user" class="primary-btn" depressed @click="openAdminDialog({}, 'add')">
                Add New User
            </v-btn>
        </v-col>
        <v-col cols="12" class="pt-0">
            <v-card class="bo-card">
                <v-card-text>
                    <v-row align="center" justify="end">
                        <v-col cols="4">
                            <v-text-field
                                id="admin-user-search"
                                v-model="search"
                                label="Search"
                                outlined
                                dense
                                append-icon="mdi-magnify"
                                hide-details
                                clearable
                            />
                        </v-col>
                    </v-row>
                </v-card-text>

                <v-data-table
                    id="user-table"
                    :headers="headers"
                    :items="userList"
                    :search="search"
                    sort-by="username"
                    class="overtime-table"
                    disable-pagination
                    hide-default-footer
                >
                    <template #item.username="{ item }">
                        <div>
                            {{ item.username }}
                        </div>
                    </template>
                  <template #item.name="{ item }">
                    <div class="text-uppercase">
                      {{ item.employeeNumber }}
                    </div>
                  </template>
                    <template #item.name="{ item }">
                        <div class="text-uppercase">
                            {{ item.name }}
                        </div>
                    </template>
                    <template #item.surname="{ item }">
                        <div class="text-uppercase">
                            {{ item.surname }}
                        </div>
                    </template>
                    <template #item.userStatus="{ item }">
                        <lock-chip :status="item.active" />
                    </template>
                    <template #item.isAdmin="{ item }">
                        <div v-if="item.isAdmin === 'Y'" class="text-uppercase">User Admin</div>
                        <div v-else class="text-uppercase">User</div>
                    </template>
                    <template #item.action="{ item }">
                        <v-menu offset-y>
                            <template #activator="{ on, attrs }">
                                <v-btn
                                    id="admin-user-options"
                                    color="#972780"
                                    v-bind="attrs"
                                    icon
                                    small
                                    v-on="on"
                                >
                                    <v-icon>
                                        mdi-dots-horizontal
                                    </v-icon>
                                </v-btn>
                            </template>
                            <v-list>
                                <v-list-item :id="`edit-admin-user-${item.userId}`" @click="openAdminDialog(item, 'edit')">
                                    <v-list-item-icon class="mr-4">
                                        <v-icon>
                                            mdi-pencil-outline
                                        </v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-title>Edit</v-list-item-title>
                                </v-list-item>
                                <v-list-item :id="`update-status-${item.userId}`" @click="openStatusDialog(item)">
                                    <v-list-item-icon class="mr-4">
                                        <v-icon>
                                            {{ statusIcon(item.active) }}
                                        </v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-title>
                                        {{ userStatus(item.active) }}
                                    </v-list-item-title>
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </template>
                </v-data-table>
            </v-card>
        </v-col>
        <admin-user-dialog :user="chosenUser" :mode="chosenMode" />
    </v-row>
</template>

<script src="./userAdmin.ts" lang="ts"></script>
<style scoped src="./userAdmin.scss" lang="scss"></style>