<template>
    <v-row>
        <v-col cols="12" class="page-title">
            Overtime Logged
        </v-col>
        <v-col cols="12" class="pt-0">
            <v-card class="overtime-card">
              <v-col cols="12" md="12" class="text-right">
                <v-btn id="add-overtime-btn" class="primary-btn" color="primary"  @click="openAddOvertimeDialog()">Add Overtime</v-btn>
              </v-col>

              <v-data-table
                  id="overtime-table"
                  :headers="overtimeLoggedHeaders"
                  :items="overtimeLogged"
                  hide-default-footer
                  disable-pagination
                  class="overtime-table"
                  item-class="text-uppercase"
              >
                <template #item.overtimeStart="{ item }">
                  <div class="text-uppercase">
                    {{ item.overtimeStart }}
                  </div>
                </template>
                <template #item.overtimeEnd="{ item }">
                  <div class="text-uppercase">
                    {{ item.overtimeEnd }}
                  </div>
                </template>
                <template #item.isDoubleTime="{ item }">
                  <div class="text-uppercase">
                    {{ item.isDoubleTime }}
                  </div>
                </template>
                <template #item.description="{ item }">
                  <div class="text-uppercase">
                    {{ item.description }}
                  </div>
                </template>
                <template #item.overtime="{ item }">
                  <div class="text-uppercase">
                    {{ item.overtime }}
                  </div>
                </template>
                <template #item.overtime_left="{ item }">
                  <div class="text-uppercase">
                    {{ item.overtimeLeft }}
                  </div>
                </template>
                <template #item.date_expiring="{ item }">
                  <div class="text-uppercase">
                    {{ item.dateExpiring }}
                  </div>
                </template>
                <template #item.status="{ item }">
                  <div class="text-uppercase">
                    {{ item.status }}
                  </div>
                </template>
                <template #item.action="{ item }">
                  <v-menu v-if="item.status === 'Pending'" offset-y>
                    <template #activator="{ on, attrs }">
                      <v-btn
                          id="overtime-options"
                          color="#972780"
                          v-bind="attrs"
                          icon
                          small
                          v-on="on"
                      >
                        <v-icon>
                          mdi-dots-horizontal
                        </v-icon>
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item :id="`edit-overtime-${item.overtimeId}`" @click="openAddOvertimeDialog(item)">
                        <v-list-item-icon class="mr-4">
                          <v-icon>
                            mdi-pencil-outline
                          </v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>Edit</v-list-item-title>
                      </v-list-item>
                      <v-list-item :id="`delete-overtime-${item.overtimeId}`" @click="openQuestionDialog(item, 'Are you sure you want to delete this overtime?', 'deleteOvertime')">
                        <v-list-item-icon class="mr-4">
                          <v-icon>
                            mdi-delete-forever-outline
                          </v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>
                          Delete
                        </v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </template>
                <template v-if="overtimeLogged.length > 0" slot="body.append">
                  <tr class="sticky-table-footer">
                    <th class="title">Total Usable Overtime</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="title">{{ sumFieldOvertime() }} hrs</th>
                    <th class="title">{{ sumFieldOvertimeLeft() }} hrs</th>
                    <th></th>
                    <th></th>
                  </tr>
                </template>
              </v-data-table>
            </v-card>
        </v-col>
      <v-col cols="12" class="page-title">
        Overtime Redeemed
      </v-col>
      <v-col cols="12" class="pt-0">
        <v-card class="overtime-card">
          <v-col cols="12" md="12" class="text-right">
            <v-btn id="add-overtime-btn" class="primary-btn" color="primary"  @click="openRedeemOvertimeDialog()">Redeem Overtime</v-btn>
          </v-col>
          <v-data-table
              id="overtime-redeemed-table"
              :headers="overtimeRedeemedHeaders"
              :items="overtimeRedeemed"
              hide-default-footer
              disable-pagination
              class="overtime-table"
              item-class="text-uppercase"
          >
            <template #item.overtimeStart="{ item }">
              <div class="text-uppercase">
                {{ item.dateCreated }}
              </div>
            </template>
            <template #item.overtimeEnd="{ item }">
              <div class="text-uppercase">
                {{ item.overtimeTaken }}
              </div>
            </template>
            <template #item.status="{ item }">
              <div class="text-uppercase">
                {{ item.status }}
              </div>
            </template>
            <template #item.action="{ item }">
              <v-btn v-if="item.status === 'Pending'" @click="openQuestionDialog(item, 'Are you sure you want to delete this redeemed overtime?', 'deleteRedeemedOvertime')" class="secondary-btn" depressed>
                <v-icon>
                mdi-delete-forever-outline
                </v-icon>
                Delete
              </v-btn>
            </template>
            <template v-if="overtimeRedeemed.length > 0" slot="body.append">
              <tr class="sticky-table-footer">
                <th class="title">Total Overtime Taken</th>
                <th class="title">{{ sumFieldOvertimeTaken() }} hrs</th>
                <th></th>
                <th></th>
              </tr>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
      <v-col cols="12" md="8">
        <question-dialog :question="question" :overtimeItem="overtimeItem" :questionType="questionType" class="mb-7"/>
        <add-overtime-dialog :overtimeItem="overtimeItem" class="mb-7" />
        <redeem-overtime-dialog :overtimeLeft="totalOvertimeLeft" class="mb-7" />
      </v-col>
    </v-row>
</template>

<script src="./home.ts" lang="ts"></script>
<style src="./home.scss" lang="scss"></style>