.v-toolbar__content {
  padding: 0px !important;
}

.bo-header{
  background-color: white !important;
  border-bottom: 1px solid #D6D6D6 !important;
}

.bo-header-content-container{
  width: 100% !important;
}

.bo-search-container {
  width: 575px;
  height: 100%;
  .v-text-field {
    .v-input__control {
        min-height: auto;
      .v-input__slot {
        box-shadow: none !important;
        padding: 0 12px !important;
      }
    }
  }
}

#cc-white-logo{
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
  @media (max-width: 1200px) {
    width: 260px !important;
  }
}

.bo-img-field {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
  min-width: 333px !important;
  padding: 24px;
  cursor: pointer;
  @media (max-width: 1200px) {
    min-width: 290px !important;
  }
}

.bo-header-btn-field{
  width: 5% !important;
  margin-right: 15px;
}

.bo-header-error-chip {
  color: #C60025;
}

.bo-header-normal-chip {
  color: #565656;
}

.bo-links{
  transition: 0.1s ease-in-out all;

  &.pending {
    width: 150px;
  }

  &.admin {
    width: 100px;
  }

  &:hover {
    color: var(--v-magenta-base) !important;
  }
}

.bo-search-form-container{
  height: 30px;
}