<template>
    <v-app-bar height="65" tile flat class="bo-header">
        <div v-ripple class="text-center secondary d-flex fill-height align-center justify-center bo-img-field" @click="$router.push('/home')">
            <img id="cc-white-logo" src="/logo_dark.png" alt="dark-logo">
        </div>
        <div class="fill-height d-flex bo-header-content-container">
          <a v-if="user.isAdmin === 'Y'" id="bo-home-link" :class="[linkClass('/home')]" class="d-flex fill-height align-center justify-center pr-4 bo-links pending"
               @click="$router.push('/home')"
            >
                My Overtime
            </a>
          <a v-if="user.isAdmin === 'Y'" id="overtime-admin-link" :class="[linkClass('/overtimeAdmin')]" class="d-flex fill-height align-center justify-center pr-3 bo-links admin"
             @click="$router.push('/overtimeAdmin')"
          >
            Overtime Admin
          </a>
            <a v-if="user.isAdmin === 'Y'" id="user-admin-link" :class="[linkClass('/userAdmin')]" class="d-flex fill-height align-center justify-center pr-3 bo-links admin"
               @click="$router.push('/userAdmin')"
            >
                User Admin
            </a>
            <div class="d-flex fill-height align-center justify-center bo-header-btn-field">
                <account-button />
            </div>
        </div>
    </v-app-bar>
</template>

<script src="./defaultHeader.ts" lang="ts"></script>
<style lang="scss" src="./defaultHeader.scss"></style>