<template>
    <v-dialog id="redeem-overtime-detail-dialog" v-model="dialog" width="1000" persistent>
        <v-card :disabled="isLoading">
            <v-overlay absolute :value="isLoading">
                <v-progress-circular
                    indeterminate
                    size="124"
                />
            </v-overlay>
            <v-card-title>
                <v-row>
                    <v-col cols="12" md="6">Reports</v-col>
                </v-row>
            </v-card-title>
            <v-divider />

            <v-card-text class="report-dialog-container">
                <v-form ref="reportForm">
                    <v-row>
                      <v-col cols="12" md="6">
                        <v-menu
                            v-model="reportDateStartMenu"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                                id="report-start-date"
                                v-model="reportDateStart"
                                label="Report Start Date"
                                prepend-icon="mdi-calendar"
                                readonly
                                v-bind="attrs"
                                v-on="on"
                            />
                          </template>
                          <v-date-picker
                              v-model="reportDateStart"
                              @input="reportDateStartMenu = false"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="12" md="6">
                        <v-menu
                            v-model="reportDateEndMenu"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                                id="report-end-date"
                                v-model="reportDateEnd"
                                label="Report End Date"
                                prepend-icon="mdi-calendar"
                                readonly
                                v-bind="attrs"
                                v-on="on"
                            />
                          </template>
                          <v-date-picker
                              v-model="reportDateEnd"
                              @input="reportDateEndMenu = false"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                    </v-row>
                    <v-row class="pt-0 mt-0">
                        <v-col cols="12" md="6">
                            <v-btn id="cancel-report" large class="secondary-btn" block depressed @click="closeDialog">
                                <span>Cancel</span>
                            </v-btn>
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-btn id=print-report large class="primary-btn" block depressed @click="printReport">
                                <span>Save</span>
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script src="./reportDialog.ts" lang="ts"></script>
<style src="./reportDialog.scss" scoped lang="scss"></style>