<template>
    <v-row align="center" justify="center" class="pb-12">
        <v-col cols="12" class="text-center text-h3">
            {{ errorTitle }}
        </v-col>
        <v-col v-if="text" cols="12" class="text-center text-h5">
            Something went wrong at our end! <br>
            Don't worry, it's not you - it's us. <br>
            Sorry about that.
        </v-col>
        <v-col cols="12" class="text-center">
            <v-btn id="errorBtn" class="primary-btn" width="350" depressed @click="leave">
                Return
            </v-btn>
        </v-col>
    </v-row>
</template>

<script src="./errorBox.ts"></script>