.account-menu-container{
  margin-top: 10px !important;
}

.account-btn{
  cursor: pointer;
  &:hover > * {
    color: var(--v-primary-base);
  }
}

.pass-btn{
  padding-bottom: 5px;
}

.logout-btn{
  padding-top: 8px;
}