<template>
    <v-menu class="account-menu-container" max-width="250px" rounded offset-y offset-x :nudge-width="200">
        <template #activator="{ on }">
            <v-btn id="account-menu-btn" icon large v-on="on">
                <v-avatar color="secondary">
                    <div v-if="userData.initials" class="text-h6 white--text text-uppercase">
                        {{ userData.initials }}
                    </div>
                    <v-icon v-else color="white">
                        mdi-account
                    </v-icon>
                </v-avatar>
            </v-btn>
        </template>
        <v-card>
            <v-card-text>
                <v-row>
                    <v-col cols="12" class="pb-1 font-weight-bold text-body-1">
                        {{ userData.name }}
                    </v-col>
                    <v-col cols="12" class="py-1">
                        {{ userData.username }}
                    </v-col>
                    <v-col cols="12" class="py-3">
                        <v-divider />
                    </v-col>
                    <v-col id="change-password" cols="12" class="text-left account-btn pass-btn" @click="openPass">
                        <v-icon>mdi-lock</v-icon>
                        <span>Change Password</span>
                    </v-col>
                    <v-col id="logoutBtn" cols="12" class="text-left account-btn pb-4 logout-btn" @click="logout">
                        <v-icon>mdi-logout</v-icon>
                        <span>Logout</span>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
    </v-menu>
</template>

<script src="./accountButton.ts" lang="ts"></script>
<style lang="scss" src="./accountButton.scss"></style>