<template>
    <v-form ref="loginForm" v-model="loginForm" class="login-form" @submit.prevent="login">
        <v-row>
            <v-col cols="12">
                <v-text-field
                    id="email"
                    v-model="credentials.email"
                    label="Email"
                    outlined
                    height="56"
                    :error="errorState"
                    :rules="[isEmail, required]"
                />
            </v-col>
            <v-col cols="12">
                <v-text-field
                    id="password"
                    v-model="credentials.password"
                    label="Password"
                    outlined
                    height="56"
                    :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPass ? 'text' : 'password'"
                    :error="errorState"
                    @click:append="showPass = !showPass"
                    :rules="[required]"
                />
            </v-col>
            <v-col cols="12">
                <v-btn id="loginBtn" class="primary-btn" block depressed @click="login">
                    Login
                </v-btn>
            </v-col>
            <v-col cols="12" class="pt-1 text-right">
                <a id="forgot-password" class="primary--text" @click="$router.push('/forgotPassword')">
                    Forgot Password?
                </a>
            </v-col>
        </v-row>
    </v-form>
</template>

<script src="./login.ts" lang="ts"></script>
<style src="./login.scss" scoped lang="scss"></style>