.login-bg {
  height: 100%;
  background-image: url("/login_img.png");
  background-size: cover;
  background-position: center bottom;
}

#forgot-password {
  font-size: 15px;

  &:hover {
    text-decoration: underline;
  }
}

.login-form{
  padding-top: 7px;
}