<template>
    <v-form ref="forgotPassForm" v-model="forgotPassForm">
        <v-row>
            <v-col cols="12" class="pt-2 login-title">
                Enter your email address below to receive your password reset instructions.
            </v-col>
            <v-col cols="12">
              <v-text-field
                  id="forgot-email"
                  v-model="email"
                  label="Email Address"
                  outlined
                  height="56"
                  :rules="[isEmail, required]"
              />
            </v-col>
            <v-col cols="6">
                <v-btn id="back-btn" class="secondary-btn" block depressed to="/">
                    <span>Cancel</span>
                </v-btn>
            </v-col>
            <v-col cols="6">
                <v-btn id="send-email-btn" class="primary-btn" block depressed @click="sendPasswordReq">
                    <span>Send</span>
                </v-btn>
            </v-col>
        </v-row>
    </v-form>
</template>

<script src="./forgotPassword.ts" lang="ts"></script>