<template>
    <v-dialog id="add-overtime-detail-dialog" v-model="dialog" width="1000" persistent>
        <v-card :disabled="isLoading">
            <v-overlay absolute :value="isLoading">
                <v-progress-circular
                    indeterminate
                    size="124"
                />
            </v-overlay>
            <v-card-title>
                <v-row>
                    <v-col cols="12" md="6">Add Overtime</v-col>
                </v-row>
            </v-card-title>
            <v-divider />

            <v-card-text class="add-overtime-dialog-container">
                <v-form ref="addOvertimeForm">
                    <v-row class="admin-row">
                        <v-col>
                            <v-text-field
                                id="add-overtime-description"
                                v-model="description"
                                label="Description"
                                outlined
                                height="56"
                                :rules="[required]"
                            />
                        </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="12" md="6">
                        <v-menu
                            v-model="overtimeDateStartMenu"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                                id="add-overtime-start-date"
                                v-model="overtimeDateStart"
                                label="Overtime Start Date"
                                prepend-icon="mdi-calendar"
                                readonly
                                v-bind="attrs"
                                v-on="on"
                            />
                          </template>
                          <v-date-picker
                              v-model="overtimeDateStart"
                              @input="overtimeDateStartMenu = false"
                              :max="overtimeDateEnd"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="12" md="6">
                        <v-menu
                            ref="overtimeTimeStartMenu"
                            v-model="overtimeTimeStartMenu"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            :return-value.sync="overtimeTimeStart"
                            transition="scale-transition"
                            offset-y
                            max-width="290px"
                            min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                                id="add-overtime-start-time"
                                v-model="overtimeTimeStart"
                                label="Overtime Time Start"
                                prepend-icon="mdi-clock-time-four-outline"
                                readonly
                                v-bind="attrs"
                                v-on="on"
                            ></v-text-field>
                          </template>
                          <v-time-picker
                              v-if="overtimeTimeStartMenu"
                              v-model="overtimeTimeStart"
                              format="24hr"
                              full-width
                              scrollable
                              :max="overtimeTimeEnd"
                              @click:minute="$refs.overtimeTimeStartMenu.save(overtimeTimeStart)"
                          ></v-time-picker>
                        </v-menu>
                      </v-col>
                    </v-row>
                      <v-row>
                        <v-col cols="12" md="6">
                          <v-menu
                              v-model="overtimeDateEndMenu"
                              :close-on-content-click="false"
                              :nudge-right="40"
                              transition="scale-transition"
                              offset-y
                              min-width="auto"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              <v-text-field
                                  id="add-overtime-end-date-text"
                                  v-model="overtimeDateEnd"
                                  label="Overtime End Date"
                                  prepend-icon="mdi-calendar"
                                  readonly
                                  v-bind="attrs"
                                  v-on="on"
                              />
                            </template>
                            <v-date-picker
                                v-model="overtimeDateEnd"
                                @input="overtimeDateEndMenu = false"
                                :min="overtimeDateStart"
                            ></v-date-picker>
                          </v-menu>
                        </v-col>
                        <v-col cols="12" md="6">
                          <v-menu
                              ref="overtimeTimeEndMenu"
                              v-model="overtimeTimeEndMenu"
                              :close-on-content-click="false"
                              :nudge-right="40"
                              :return-value.sync="overtimeTimeEnd"
                              transition="scale-transition"
                              offset-y
                              max-width="290px"
                              min-width="290px"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              <v-text-field
                                  id="add-overtime-end-time-text"
                                  v-model="overtimeTimeEnd"
                                  label="Overtime Time End"
                                  prepend-icon="mdi-clock-time-four-outline"
                                  readonly
                                  v-bind="attrs"
                                  v-on="on"
                              ></v-text-field>
                            </template>
                            <v-time-picker
                                v-if="overtimeTimeEndMenu"
                                v-model="overtimeTimeEnd"
                                format="24hr"
                                full-width
                                scrollable
                                :min="overtimeTimeStart"
                                @click:minute="$refs.overtimeTimeEndMenu.save(overtimeTimeEnd)"
                            ></v-time-picker>
                          </v-menu>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" md="2" class="pb-0">
                            <v-switch
                                id="add-overtime-double"
                                v-model="isDoubleTime"
                                label="Double Time"
                                true-value="Y"
                                false-value="N"
                                height="56"
                                class="mb-0"
                            />
                        </v-col>
                    </v-row>
                    <v-row class="pt-0 mt-0">
                        <v-col cols="12" md="6">
                            <v-btn id="cancel-add-overtime" large class="secondary-btn" block depressed @click="closeDialog">
                                <span>Cancel</span>
                            </v-btn>
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-btn id="save-add-overtime" large class="primary-btn" block depressed @click="addOvertime">
                                <span>Save</span>
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script src="./addOvertimeDialog.ts" lang="ts"></script>
<style src="./addOvertimeDialog.scss" scoped lang="scss"></style>