<template>
    <v-chip :color="getChipColor(status)" :class="chipClass" class="justify-center align-center lock-chip">
        <span :style="{color: getChipTxt(status)}">
            {{ getChipLbl(status) }}
        </span>
    </v-chip>
</template>

<script src="./lockChip.ts" lang="ts"></script>
<style src="./lockChip.scss" lang="scss" scoped></style>