.lock-chip{
  height: 22px !important;
  font-size: 14px;
  letter-spacing: 0px;
  &.status-chip{
    width: 95px !important;
  }

  &.consumer-chip {
    padding: 15px 20px;
    font-weight: 500;
  }

}


