<template>
    <v-overlay :value="isLoading">
        <v-progress-circular
            indeterminate
            size="124"
        />
    </v-overlay>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'nuxt-property-decorator';
import { UIStore } from '~/store';

const uiStore = UIStore();

    @Component
export default class GlobalLoader extends Vue {
    get isLoading() {
        return uiStore.getLoaderState;
    }
}
</script>