<template>
    <div>
        <v-dialog
            v-model="dialog"
            width="700"
        >
            <v-card :disabled="isLoading">
                <v-overlay absolute :value="isLoading">
                    <v-progress-circular
                        indeterminate
                        size="124"
                    />
                </v-overlay>
                <v-card-title>
                    <v-row>
                        <v-col cols="12" md="6">Confirmation</v-col>
                        <v-col cols="12" md="6" class="text-right">
                            <v-btn id="close-dialog" fab icon small color="primary" @click="closeDialog">
                                <v-icon>
                                    mdi-close
                                </v-icon>
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-card-title>
                <v-divider />

                <v-card-text>
                    <v-row class="pt-0 mt-0 pb-3">
                        <v-col cols="12" class="text-subtitle-1 black--text pt-5">
                          {{ question }}
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-btn id="cancel-status-update" class="secondary-btn" block depressed @click="closeDialog">
                                <span>Cancel</span>
                            </v-btn>
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-btn id="save-status-update" class="primary-btn" block depressed @click="returnSuccess">
                                <span>OK</span>
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script src="./questionDialog.ts" lang="ts"></script>