<template>
    <v-row align="center" justify="center">
        <v-col cols="12">
            <error-box title="Oh no! System is currently unavailable!" />
        </v-col>
    </v-row>
</template>

<script src="./systemDown.ts" lang="ts"></script>