<template>
    <v-navigation-drawer
        v-model="drawer"
        v-click-outside="{
            handler: closeSidebar,
            sidebarExists,
        }"
        expand-on-hover
        :mini-variant.sync="mini"
        absolute
        class="bo-sidebar"
        width="333"
    >
        <v-list class="pa-0">
            <v-list-item
                v-for="item in items"
                :id="item.id"
                :key="item.title"
                class="bo-nav-link"
                :class="[{'bo-nav-link-border': !mini, 'bo-nav-link-active': $route.fullPath === item.link}]"
                @click="$router.push(item.link)"
            >
                <v-list-item-icon class="bo-nav-link-icon">
                    <v-icon class="bo-nav-link-icon">{{ item.icon }}</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>

<script src="./sidebar.ts" lang="ts"></script>
<style src="./sidebar.scss" lang="scss" scoped></style>