.bo-sidebar {
  top: 60px !important;
}

.bo-nav-link {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  &:hover{
    color: var(--v-secondary-base) !important;
    background-color: #f4f4f4;
    .bo-nav-link-icon {
      color: var(--v-secondary-base) !important;
    }
  }
  &.bo-nav-link-active{
    color: var(--v-secondary-base) !important;
    .bo-nav-link-icon {
      color: var(--v-secondary-base) !important;
    }
  }
}

.bo-nav-link-border{
  border-left: 2px solid;
  border-color: transparent;
  &:hover, .bo-nav-link-active{
    border-color: var(--v-magenta-base) !important;
  }
}