<template>
    <v-form id="reset-password-form" ref="resetPassForm" v-model="resetPassForm">
        <v-row>
            <v-col cols="12" class="login-title">
                Please enter your new password below.
            </v-col>
            <v-col cols="12">
                <v-text-field
                    id="newPassword"
                    v-model="newPass"
                    label="New Password"
                    outlined
                    :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPass ? 'text' : 'password'"
                    height="56"
                    :rules="[required]"
                    class="pb-0"
                    @click:append="showPass = !showPass"
                    @keyup.enter="resetPassword"
                />
            </v-col>
            <v-col cols="12">
                <v-text-field
                    id="confirmPassword"
                    v-model="confirmPass"
                    label="Confirm New Password"
                    outlined
                    :append-icon="showConfirm ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showConfirm ? 'text' : 'password'"
                    height="56"
                    :rules="[required, (newPass === confirmPass) || 'Password must match']"
                    class="pt-0"
                    @click:append="showConfirm = !showConfirm"
                    @keyup.enter="resetPassword"
                />
            </v-col>
            <v-col cols="12" class="pb-10">
                <password-requirements :password="newPass" @passcheck="getPassCheck" />
            </v-col>
            <v-col cols="6">
                <v-btn id="close-password" class="secondary-btn" block depressed to="/">
                    <span class="font-weight-regular text-capitalize">Cancel</span>
                </v-btn>
            </v-col>
            <v-col cols="6">
                <v-btn id="save-password" class="primary-btn" block depressed @click="resetPassword">
                    <span class="font-weight-regular text-capitalize">Reset Password</span>
                </v-btn>
            </v-col>
        </v-row>
    </v-form>
</template>

<script src="./resetPassword.ts" lang="ts"></script>