<template>
    <v-dialog id="change-password-dialog" v-model="dialog" width="600">
        <v-card :disabled="isLoading">
            <v-overlay absolute :value="isLoading">
                <v-progress-circular
                    indeterminate
                    size="124"
                />
            </v-overlay>
            <v-card-title>
                <v-row>
                    <v-col cols="12" md="6">Change Password</v-col>
                    <v-col cols="12" md="6" class="text-right">
                        <v-btn id="close-password-dialog" fab icon small color="primary" @click="closeDialog">
                            <v-icon>
                                mdi-close
                            </v-icon>
                        </v-btn>
                    </v-col>
                </v-row>
            </v-card-title>
            <v-divider />

            <v-card-text class="reset-pass-form">
                <v-form ref="resetPassForm" v-model="resetPassForm">
                    <v-row class="pt-8">
                        <v-col cols="12" class="py-0">
                            <v-text-field
                                id="oldPassword"
                                v-model="oldPass"
                                label="Old Password"
                                outlined
                                :append-icon="showOldPass ? 'mdi-eye' : 'mdi-eye-off'"
                                :type="showOldPass ? 'text' : 'password'"
                                :rules="[required]"
                                @click:append="showOldPass = !showOldPass"
                                @keyup.enter="resetPassword"
                            />
                        </v-col>
                        <v-col cols="12" class="py-0">
                            <v-text-field
                                id="newPassword"
                                v-model="newPass"
                                label="New Password"
                                outlined
                                :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                                :type="showPass ? 'text' : 'password'"
                                :rules="[required]"
                                @click:append="showPass = !showPass"
                                @keyup.enter="resetPassword"
                            />
                        </v-col>
                        <v-col cols="12" class="py-0">
                            <v-text-field
                                id="confirmPassword"
                                v-model="confirmPass"
                                label="Confirm New Password"
                                outlined
                                :append-icon="showConfirm ? 'mdi-eye' : 'mdi-eye-off'"
                                :type="showConfirm ? 'text' : 'password'"
                                :rules="[required, (newPass === confirmPass) || 'Password must match']"
                                @click:append="showConfirm = !showConfirm"
                                @keyup.enter="resetPassword"
                            />
                        </v-col>
                        <v-col cols="12" class="pb-6">
                            <password-requirements :password="newPass" @passcheck="getPassCheck" />
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-btn id="close-password" class="secondary-btn" block depressed @click="closeDialog">
                                <span class="font-weight-regular text-capitalize">Cancel</span>
                            </v-btn>
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-btn id="save-password" class="primary-btn" block depressed @click="resetPassword">
                                <span class="font-weight-regular text-capitalize">Reset Password</span>
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script src="./resetPassDialog.ts" lang="ts"></script>