<!doctype html>
<html {{ HTML_ATTRS }} lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Chronos</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ HEAD }}
</head>
<body {{ BODY_ATTRS }}>

{{ APP }}

</body>
</html>