<template>
    <client-only>
        <v-app>
            <v-main>
                <default-header />
                <global-loader />
                <reset-pass-dialog />
                <update-user-status />
                <v-container fluid fill-height class="py-0 main-container">
                    <v-row class="fill-height">
                        <v-col cols="12" class="fill-height">
                            <nuxt />
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </client-only>
</template>
<script lang="ts" src="./default.ts"></script>
<style src="./default.scss" lang="scss" scoped></style>