.main-container {
  background-color: #F7F7F7;
  padding-left: 70px;
  padding-right: 70px;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
}

.is-admin{
  padding-left: 70px + 56px !important;
}

.sidebar-open{
  padding-left: 350px + 70px !important;
}

