<template>
    <error-box :error="error" />
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
    name    : 'error',
    layout : 'errorLayout',
    props  : ['error']
});
</script>