<template>
    <v-app class="error-container">
        <v-main>
            <v-container fill-height>
                <nuxt />
            </v-container>
        </v-main>
    </v-app>
</template>
<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
    name    : 'errorLayout'
});
</script>
<style lang="scss">
  .error-container {
    background-color: #eff0f0;
  }
</style>
