<template>
    <v-app>
        <global-loader />
        <v-main fill-height>
            <v-container class="pa-0 ma-0 login-container" fluid fill-height>
                <v-row class="pa-0 ma-0 fill-height" align="center" justify="center" fill-height>
                    <v-col cols="12" md="6">
                        <v-row align="center" justify="center">
                            <v-col cols="12" lg="10">
                                <v-col cols="12" class="pl-0 pb-6 align-content-center">
                                    <img id="mycc-logo" src="/logo_dark.png" alt="logo">
                                </v-col>
                                <v-slide-x-transition>
                                    <nuxt />
                                </v-slide-x-transition>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="6" class="pa-0 ma-0 login-bg" />
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>

<script lang="ts" src="./login.ts"></script>
<style scoped lang="scss" src="./login.scss"></style>