.login-container {
  height: 100vh;
  overflow: hidden !important;
}

.login-bg{
  height: 100%;
  background-image: url("/login_img.png");
  background-size: cover;
  background-position: bottom right;
  background-color: #1d4f91;
}