<template>
  <v-row>
    <v-col cols="12" class="page-title">
      Overtime Up For Approval
    </v-col>
    <v-col cols="12" class="pt-0">
      <v-card class="overtime-card">
        <v-col cols="12" md="12" class="text-right">
          <v-btn id="add-overtime-btn" class="primary-btn" color="primary"  @click="openReportDialog()">Print Report</v-btn>
        </v-col>
        <v-data-table
            id="overtime-table"
            :headers="overtimeHeaders"
            :items="userOvertimeList"
            hide-default-footer
            disable-pagination
            group-by="username"
            show-group-by
            class="overtime-table"
            item-class="text-uppercase"
        >
          <template #item.username="{ item }">
            <div>
              {{ item.username }}
            </div>
          </template>
          <template #item.overtimeStart="{ item }">
            <div class="text-uppercase">
              {{ item.overtimeStart }}
            </div>
          </template>
          <template #item.overtimeEnd="{ item }">
            <div class="text-uppercase">
              {{ item.overtimeEnd }}
            </div>
          </template>
          <template #item.description="{ item }">
            <div class="text-uppercase">
              {{ item.description }}
            </div>
          </template>
          <template #item.overtime="{ item }">
            <div class="text-uppercase">
              {{ item.overtime }}
            </div>
          </template>
          <template #item.double_time="{ item }">
            <div class="text-uppercase">
              {{ item.isDoubleTime }}
            </div>
          </template>
          <template #item.action="{ item }">
            <v-menu v-if="item.status === 'Pending'" offset-y>
              <template #activator="{ on, attrs }">
                <v-btn
                    id="overtime-options"
                    color="#972780"
                    v-bind="attrs"
                    icon
                    small
                    v-on="on"
                >
                  <v-icon>
                    mdi-dots-horizontal
                  </v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item :id="`approve-overtime-${item.overtimeId}`" @click="approveOvertime(item.overtimeId)">
                  <v-list-item-icon class="mr-4">
                    <v-icon>
                      mdi-check
                    </v-icon>
                  </v-list-item-icon>
                  <v-list-item-title>Approve</v-list-item-title>
                </v-list-item>
                <v-list-item :id="`decline-overtime-${item.overtimeId}`" @click="openQuestionDialog(item, 'Are you sure you want to decline this overtime?', 'declineUserOvertime')">
                  <v-list-item-icon class="mr-4">
                    <v-icon>
                      mdi-close
                    </v-icon>
                  </v-list-item-icon>
                  <v-list-item-title>
                    Decline
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
          <template v-if="userOvertimeList.length > 0" slot="body.append">
            <tr class="sticky-table-footer">
              <th class="title">Total Unapproved Overtime</th>
              <th></th>
              <th></th>
              <th></th>
              <th class="title">{{ sumFieldUserOvertime() }} hrs</th>
              <th></th>
              <th></th>
            </tr>
          </template>
        </v-data-table>
      </v-card>
    </v-col>
    <v-col cols="12" class="page-title">
      Overtime Redeemed Up For Approval
    </v-col>
    <v-col cols="12" class="pt-0">
      <v-card class="overtime-card">
        <v-data-table
            id="overtime-redeemed-table"
            :headers="overtimeRedeemedHeaders"
            :items="userOvertimeRedeemedList"
            hide-default-footer
            disable-pagination
            class="overtime-table"
            item-class="text-uppercase"
        >
          <template #item.overtimeStart="{ item }">
            <div class="text-uppercase">
              {{ item.username }}
            </div>
          </template>
          <template #item.overtimeStart="{ item }">
            <div class="text-uppercase">
              {{ item.dateTaken }}
            </div>
          </template>
          <template #item.overtimeEnd="{ item }">
            <div class="text-uppercase">
              {{ item.overtimeTaken }}
            </div>
          </template>
          <template #item.action="{ item }">
            <v-menu v-if="item.status === 'Pending'" offset-y>
              <template #activator="{ on, attrs }">
                <v-btn
                    id="overtime-options"
                    color="#972780"
                    v-bind="attrs"
                    icon
                    small
                    v-on="on"
                >
                  <v-icon>
                    mdi-dots-horizontal
                  </v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item :id="`approve-redeemed-overtime-${item.redeemedId}`" @click="approveRedeemedOvertime(item.redeemedId)">
                  <v-list-item-icon class="mr-4">
                    <v-icon>
                      mdi-check
                    </v-icon>
                  </v-list-item-icon>
                  <v-list-item-title>Approve</v-list-item-title>
                </v-list-item>
                <v-list-item :id="`decline-redeemed-overtime-${item.redeemedId}`" @click="openQuestionDialog(item, 'Are you sure you want to decline this redeemed overtime?', 'declineUserRedeemedOvertime')">
                  <v-list-item-icon class="mr-4">
                    <v-icon>
                      mdi-close
                    </v-icon>
                  </v-list-item-icon>
                  <v-list-item-title>
                    Decline
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
          <template v-if="userOvertimeRedeemedList.length > 0" slot="body.append">
            <tr class="sticky-table-footer">
              <th class="title">Total Unapproved Overtime Taken</th>
              <th></th>
              <th class="title">{{ sumFieldUserOvertimeTaken() }} hrs</th>
              <th></th>
            </tr>
          </template>
        </v-data-table>
      </v-card>
    </v-col>
    <v-col cols="12" md="8">
      <question-dialog :question="question" :overtimeItem="overtimeItem" :questionType="questionType" class="mb-7"/>
      <report-dialog/>
    </v-col>
  </v-row>
</template>

<script src="./overtimeAdmin.ts" lang="ts"></script>
<style scoped src="./overtimeAdmin.scss" lang="scss"></style>