<template>
    <v-row>
        <v-col cols="12" class="py-0">
            <v-icon class="validate-icon pr-3"
                    :class="[{'wafl-icon-successful green-icon': lengthValidate, 'wafl-icon-unsuccessful red-icon': !lengthValidate}]"
            />
            <span>{{ charText }}</span>
        </v-col>
        <v-col cols="12" class="py-0">
            <v-icon class="validate-icon pr-3"
                    :class="[{'wafl-icon-successful green-icon': numberValidate, 'wafl-icon-unsuccessful red-icon': !numberValidate}]"
            />
            <span>{{ numText }}</span>
        </v-col>
        <v-col cols="12" class="py-0">
            <v-icon class="validate-icon pr-3"
                    :class="[{'wafl-icon-successful green-icon': specialValidate, 'wafl-icon-unsuccessful red-icon': !specialValidate}]"
            />
            <span>{{ specialCharText }}</span>
        </v-col>
        <v-col cols="12" class="py-0">
            <v-icon class="validate-icon pr-3"
                    :class="[{'wafl-icon-successful green-icon': uppercaseValidate, 'wafl-icon-unsuccessful red-icon': !uppercaseValidate}]"
            />
            <span>{{ uppercaseText }}</span>
        </v-col>
    </v-row>
</template>

<script src="./passwordRequirements.ts" lang="ts"></script>
<style src="./passwordRequirements.scss" lang="scss" scoped></style>